@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

/* Disable scrolling */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Disable scrolling */
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #171717;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    gap: 0rem;
}

h1 {
    color: white;
    margin-top: 1rem;
}

canvas {
    background-color: #fff;
    display: block;
    border-radius: 2%;
    box-shadow: 6px 6px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 22px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px; /* Add some space below the inputs */
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 20px;
    flex: 2;
}

button {
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#nodeValue {
    width: 250px;
}

#add {
    background-color: rgb(0, 155, 0);
}

#search {
    background-color: yellow;
}

#delete {
    background-color: red;
}

#add, #search, #delete {
    color: black;
}

#comparison-steps {
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

footer {
    margin-top: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
}

footer a {
    color: yellow;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 1.2rem;
    }

    canvas {
        width: 90%;
        height: 90%;
    }

    .inputs {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 10px; /* Add margin to ensure space for the footer */
    }

    input[type="text"] {
        width: 90%;
    }

    #nodeValue {
        width: 250px;
    }

    button {
        width: 80%;
    }

    /* Ensure the footer is visible on smaller screens */
    footer {
        margin-top: 10px; /* Add some space above the footer */
        font-size: 12px; /* Slightly smaller font size for smaller screens */
        padding-bottom: 10px; /* Add padding to ensure the footer is not cut off */
    }
}